/* style.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f9f9f9;
}

.toc {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.toc h2 {
    margin-top: 0;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
}

.toc li {
    margin-bottom: 5px;
}

.item-type {
    margin-bottom: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.item-type h2 {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 0;
	margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: auto;
    margin: 0 auto;
    table-layout: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

td {
    word-wrap: break-word;
    max-width: 300px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Highlight creator type rows with a light shade of CSL blue */
tr.creator-row td {
    background-color: #e6f2fa;
}
